# Ignore cache files
src/drawing/__pycache__/*
src/drawing/shared/__pycache__/*
src/drawing/transmon/__pycache__/*
src/drawing/transmon/junctions/__pycache__/*

gds_files/*

# Ignore Python files in the root directory
#*.py
src/drawing/wafer/__pycache__/wafer.cpython-313.pyc
src/drawing/junction/__pycache__/__init__.cpython-313.pyc
src/drawing/junction/__pycache__/antisymmetric_junction.cpython-313.pyc
src/drawing/junction/__pycache__/base_arm.cpython-313.pyc
src/drawing/junction/__pycache__/base_junction.cpython-313.pyc
src/drawing/junction/__pycache__/funnel_arm.cpython-313.pyc
src/drawing/junction/__pycache__/regular_arm.cpython-313.pyc
src/drawing/junction/__pycache__/symmetric_junction.cpython-313.pyc
src/drawing/junction/__pycache__/t_arm.cpython-313.pyc
src/drawing/snail/__pycache__/snail.cpython-313.pyc
src/drawing/squid/__pycache__/squid.cpython-313.pyc